---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=middle%20of%20the%20ocean
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"lat":"38.8977","lon":"-77.0365","display_name":"Somewhere in Atlantis","address":{"country":"Atlantis"}}]'
  recorded_at: Mon, 18 May 2026 02:48:31 GMT
recorded_with: VCR 6.4.0
