---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current_weather=true&daily=temperature_2m_max,temperature_2m_min,weathercode&forecast_days=5&latitude=37.7749&longitude=-122.4194&temperature_unit=celsius&timezone=auto
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"current_weather_units":{"temperature":"°C"},"current_weather":{"temperature":20.0,"weathercode":0},"daily":{"time":["2026-05-17","2026-05-18","2026-05-19","2026-05-20","2026-05-21"],"temperature_2m_max":[23.5,27.6,29.7,23.9,25.1],"temperature_2m_min":[9.9,15.7,13.9,12.4,11.4],"weathercode":[0,0,0,3,1]}}'
  recorded_at: Mon, 18 May 2026 02:48:31 GMT
recorded_with: VCR 6.4.0
